# https://github.com/github/gitignore/blob/master/CMake.gitignore

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
cmake/*

# CPM
cpm-package-lock.cmake
CPM_modules
!CPM.cmake
!LICENCE

# VS CODE

.vscode

# Artefacts

build
include
